@model ProyectoProgra5.UI.Models.UsuarioXGrupo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioXGrupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaNavigation.Contrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoNavigation.IdGrupo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuarioXgrupo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
