
@model IEnumerable<ProyectoProgra5.UI.Models.Institucione>

@{
    ViewData["Title"] = "Index";
}

<h1>Registros de Instituciones</h1>

<p>
    <a asp-action="Create">Crear un nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encargado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInstitucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreInstitucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Canton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distrito)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdInstitucion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdInstitucion">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdInstitucion">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

