
@model IEnumerable<ProyectoProgra5.UI.Models.TipoOperacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Registros de los Tipos de Operaciones</h1>

<p>
    <a asp-action="Create">Crear un nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoOperacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoOperacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Porcentaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInstitucionNavigation.NombreInstitucion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTipoOperacion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdTipoOperacion">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTipoOperacion">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

